RUST_LOG=info
INDEXER_ARGS=
DATABASE_URL=
BASE_RPC_URL=
BASE_WS_URL=
MAINNET_RPC_URL=
MAINNET_WS_URL=
UNICHAIN_RPC_URL=
UNICHAIN_WS_URL=
INK_RPC_URL=
INK_WS_URL=
MONAD_RPC_URL=
MONAD_WS_URL=
SEPOLIA_RPC_URL=
SEPOLIA_WS_URL=
BASE_SEPOLIA_RPC_URL=
BASE_SEPOLIA_WS_URL=
